div{
    padding-top: 400px;
    text-align: center;
    font-size: 30px;
}
body{
    background-color: rgb(179, 220, 171);
    
}
button {
    background-color: rgb(81, 159, 237);
    font-size: 25px;
    display: inline-block;
    box-shadow: 5px 5px 0px 0px;
}